<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032414511545-f0s5qj6nnp3jgbgctsdk32uvgecjef5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032414511545-f0s5qj6nnp3jgbgctsdk32uvgecjef5u</string>
	<key>API_KEY</key>
	<string>AIzaSyCdeg4Qlim9BluUO-QyELIEf7MRkGC-dlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1032414511545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ge.tbcbank.MealsProject</string>
	<key>PROJECT_ID</key>
	<string>mealsproject-7c601</string>
	<key>STORAGE_BUCKET</key>
	<string>mealsproject-7c601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032414511545:ios:22d6b89a8d2cdb1a66f668</string>
	<key>DATABASE_URL</key>
	<string>https://mealsproject-7c601.firebaseio.com</string>
</dict>
</plist>